<div class="container">
  <h4>Welcome <%= @user.email %></h4>
  <p>Last signed in at: <%= @user.last_sign_in_at %></p>
  <button><%= link_to "NEW NOTE ", new_user_item_path(:user_id)%></button>
  <br></br>
  <%= render "items/item" %>



</div>
