<div class="container">
<div class="row text-center">
    <div class="jumbotron">
      <h1 class="hero">Sticky Notes</h1>
      <h3 class="sub-hero">A Self-destructing To-Do List</h3>
    </div>

</div>
</div>
