<div class="container">
  <table>
    <tr>
      <th>My Notes</th>
      <th>Delete</th>
    </tr>
    <tr>
      <% @items.each do |item| %>
      <% author = item.user_id %>
      <% if author == current_user.id %>
      <td><%= item.name %></td>
      <td><%= link_to "delete", user_item_path(@user, item), method: :delete, :remote => true, :class => 'delete-item' %></td>
    </tr>
    <% end %>
    <% end %>
  </table>
  <br></br>
  <table>
    <tr>
      <th>Other's Notes</th>
      <th>Author</th>
    </tr>
    <tr>
      <% @items.each do |item| %>
      <% author = item.user_id %>
      <% if author != @user.id %>
      <td><%= item.name %></td>
      <td><%= item.user.email %></td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>
