/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require my_styles
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";




a {
  color: black;
}

.delete {

  text-decoration: none;
}
a > .delete:hover {
  color:red;
  text-decoration: line-through;
}

// navigation
div.container.nav-box {
  // width: 100%;
  background-color: #eeffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

div.container.my-container {
  box-shadow: 1px 0px 10px 0px #263238;
  background-color: #bbdefb;
}

.my-nav-link {
  padding-left: 15px;
}
.my-footer-link {
  font-weight: bold;
}

.navbar-nav > li > a {
  padding-top: 15px;

}

.logo {
  padding-top: 8px;
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 1px;
  color: black;
  // text-shadow: 2px 2px 2px pink;
}

.signed-in {
  padding-top: 15px;
  padding-right: 20px;
  color: black;
}


@media only screen and (max-width: 760px) {
    .logo {
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
  }

//table

div.container {
  width: 100%;
}


table.my-table{
  margin: 0;
  empty-cells: show;
  box-shadow: 1px 0px 10px 0px #263238;
  // border: 5px solid #75a478;

}

.my-table, .my-th, .my-td {
   // border: 4px solid white;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 13px;
   padding-right: 15px;
   empty-cells: show;

}
tr:hover {
  box-shadow: 1px 0px 10px 0px #263238 {
      z-index: 2;
  }



  // outline: 2px solid gray;

}

tr:nth-child(even) {
  background-color: #eeffff;
  color: black;

  .my-td input {
    background-color: #eeffff;
  }
}

tr:nth-child(odd) {
  background-color: #bbdefb;
  color: black;

  .my-td input {
    background-color: #bbdefb;
  }
}
thead tr.my-tr {
  // border-top: 5px solid #263238 !important;
  background-color: #eeffff;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center !important;

}

button {
  border: #eeffff;
  background-color: #eeffff;
  padding: 10px;
}

// FORM
.item-form textarea {
  background: #bbdefb;
  // transform: rotate(-1deg);
  outline:1px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  box-shadow: -1px 0px 5px 0px #263238;
}

textarea:hover {
  // box-shadow: 1px 0px 10px 0px #263238;
}
input:focus, textarea:focus {
  background: #bbdefb;
  outline: none;

}

//STICKY FOOTER
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #bbdefb;
  justify-content: space-between;
}
.site {
  flex: 1;
}

footer.my-footer {
  flex-shrink: 0;
  margin: 0;
  padding: 20, 20, 20, 20;
  border: 0;
  v-index: 2
  // box-shadow: -3px -3px 10px 0px #263238;
}

// footer.my-footer-link {
//   padding-right: 15px !important;
// }

.my-td input {
  border: none;
  width: 100%;
}
